:root input[type="button"], :root input[type="submit"], :root button {
	background-color: rgb(204, 204, 204);
	color: black;
}

:root input[type="text"]:disabled, :root input[type="password"]:disabled, :root textarea:disabled {
    background-color: rgb(240, 240, 240);
}

:root input[type="button"]:hover, :root input[type="submit"]:hover, :root button:hover {
	background-color: rgb(214, 214, 214);
}

:root input[type="button"]:active, :root input[type="submit"]:active, :root button:active {
	background-color: black;
	color: white;
}

.ButtonBack {
	background: url(../img/icon_sprite_actionArrow_black.png) no-repeat;
}

.dialog > #content{
	background:rgb(100, 100, 100);
}

.dialog button{
	border: 2px black;
}

.dialog button:active{
	background-color: black;
	color: white;
	border: 2px rgb(158, 158, 158);
}

.accordion  > li  > a {
	background-color: rgb(100, 100, 100);
}

.accordion  > li.active > a{
	background-color: rgb(120, 120, 120);
}

#header{
	background:rgb(200, 200, 200);
}

#header > #logo{
	background-color: rgb(170, 170, 170);
}

#header > #TitleMenu{
	color:rgb(10, 10, 10);
}

li.separator {
    background-color: rgba(0, 0, 0, 0.8);
}

#header > ul > li a{
	background-color: rgb(200, 200, 200);
	color: black;
}

#header > ul > li a:hover{
	background-color: rgb(220, 220, 220);
}

#header > ul > li.optional a{
	visibility: hidden;
	background-color: rgb(150, 150, 150);
}

#header > ul > li.optional a:hover{
	background-color: rgb(170, 170, 170);
}

#header > ul > li.save a{
	visibility: hidden;
	color: white;
	background-color: rgb(13, 118, 227);
}

#header > ul > li.save a:hover{
	background-color: rgb(23, 128, 255);
}

ul.sideBar > li{
	background-color: rgb(120, 120, 120);
	color: rgb(230, 230, 230);
}
ul.sideBar > li ul > li a{
	color: rgb(230, 230, 230);
}

ul.sideBar > li ul > li a:hover{
	color: rgb(255, 255, 255);
}