:root input[type="button"], :root input[type="submit"], :root button {
	background-color: rgb(0, 130, 0);
}

:root input[type="text"]:disabled, :root input[type="password"]:disabled, :root textarea:disabled {
    background-color: rgb(240, 240, 240);
}

:root input[type="button"]:hover, :root input[type="submit"]:hover, :root button:hover {
	background-color: rgb(33, 153, 33);
}

:root input[type="button"]:active, :root input[type="submit"]:active, :root button:active {
	background-color: black;
	color: white;
	border: 2px black;
}

.dialog > #content{
	background:rgb(0, 130, 0);
}

.dialog button:active{
	background-color: white;
	color: black;
	border: 2px white;
}

.accordion  > li  > a {
	background-color: rgb(0, 130, 0);
}

.accordion  > li.active > a{
	background-color:  rgb(33, 153, 33);;
}

#header{
	background:rgb(0, 130, 0);
}

#header > #logo{
	background-color: rgb(0, 100, 0);
}

li.separator {
    background-color: rgba(255, 255, 255, 0.2);
}

#header > ul > li a{
	background-color: rgb(0, 130, 0);
}

#header > ul > li a:hover{
	background-color:  rgb(33, 153, 33);;
}

ul.sideBar > li{
	background-color: rgb(33, 153, 33);
	color: rgb(230, 230, 230);
}
ul.sideBar > li ul > li a{
	color: rgb(230, 230, 230);
}

ul.sideBar > li ul > li a:hover{
	color: rgb(255, 255, 255);
}