<div id="notfound-looking-for" class="box-content">
	<p>
		Los Staffs son personas que se encargan de hacer cumplir las normas del hotel.<br /><br />Hay un equipo especializado para diferentes trabajos.
	</p>
</div>