<?php
/*=========================================================+
|| # Azure Files of XDRCMS. All rights reserved.
|| # Copyright ® 2014 Xdr.
|+=========================================================+
|| # Xdr 2014. The power of Proyects.
|| # Este es un Software de código libre, libre edición.
|+=========================================================+
|| # Housekeeping by Xdr
|| # Copyright (C) 2014. Todos los derechos reservados.
|+=========================================================+
*/

if(!isset($hkzone) || $hkzone !== true)
	exit; 
?>
	</div>
	<div id="junk"></div>

	<script async src="GHK/js/201408391138f.js"></script>
	<script type="text/javascript">
		function LoginSC(){
			response = get("<?php echo HPATH; ?>/manage?c=login", "POST", "secretKey=" + element("#i0118").value);
			CloseDialog();
			if(response == "S"){
				NewDialog('Advice', 'You logged in successfully, all your changes will be saved on the log system.', '', '<button onclick=\'CloseDialog()\'>Close</button>');
			}else if(response == "E"){
				NewDialog('Advice', 'An error has ocurred. Try it again later.', '', '<button onclick=\'CloseDialog()\'>Close</button>');
			}else if(response == "E1"){
				NewDialog('Security', 'You typed an invalid Secret Key. You can navigate on the ACP but you can make changes on it. <br /><br /> If you want to make changes, please log in:', '<div style="overflow:hidden"><img src="<?php echo LOOK . USER::$Data['Look']; ?>&size=s" style="float:left"></img><h3><?php echo USER::$Data['Name']; ?></h3><div style="margin:null; margin-bottom: 5px;color: white;"><?php echo USER::$Data['Email']; ?></div><p></p><div style="position: relative; width: 100%;"><input type="password" name="secretKey" id="i0118" maxlength="5" style="width: 17.5em;" placeholder="Secret Key"></input></div></div><div style="color: rgb(200, 83, 5);font-size: 86%;line-height: 178%;margin-top: 18px;margin-bottom: 12px;white-space: normal;">Type the information to log in and try it again.</div>', '<button onclick=\'LoginSC()\' class=\'marked\'>Log in</button><button onclick=\'CloseDialog()\'>Close</button>');
			}else if(response == "E2" || response == "E3"){
				NewDialog('Security', 'You typed an invalid Secret Key. You can navigate on the ACP but you can make changes on it. <br /><br /> If you want to make changes, please log in:', '<div style="overflow:hidden"><img src="<?php echo LOOK . USER::$Data['Look']; ?>&size=s" style="float:left"></img><h3><?php echo USER::$Data['Name']; ?></h3><div style="margin:null; margin-bottom: 5px;color: white;"><?php echo USER::$Data['Email']; ?></div><p></p><div style="position: relative; width: 100%;"><input type="password" name="secretKey" id="i0118" maxlength="5" style="width: 17.5em;" placeholder="Secret Key"></input></div></div><div style="color: rgb(200, 83, 5);font-size: 86%;line-height: 178%;margin-top: 18px;margin-bottom: 12px;white-space: normal;">This Secret Key is incorrect. Make sure it works for <?php echo $hotelName; ?>.</div>', '<button onclick=\'LoginSC()\' class=\'marked\'>Log in</button><button onclick=\'CloseDialog()\'>Close</button>');
			}
		}

		function ChangeMenu(id){
			if(id == 1){
				element("#TitleMenu").innerHTML = '&nbsp;Inicio<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<li><a href="<?php echo HPATH; ?>/manage?p=dashboard">Principal</a></li><li><a href="<?php echo HPATH; ?>/manage?p=stats">Estadísticas</a></li><li><a href="<?php echo HPATH; ?>/manage?p=help">Ayuda</a></li>';
			}else if(id == 2){
				element("#TitleMenu").innerHTML = '&nbsp;Servidor<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<li><a href="<?php echo HPATH; ?>/manage?p=server">Conexiones</a></li><li><a href="<?php echo HPATH; ?>/manage?p=loader">SWF</a></li><li><a href="<?php echo HPATH; ?>/manage?p=override_varstexts">Override Texts & Vars</a></li>';
			}else if(id == 3){
				element("#TitleMenu").innerHTML = '&nbsp;Sitio<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<?php if(USER::CAN('site')): ?><li><a href="<?php echo HPATH; ?>/manage?p=site">General</a></li><?php endif; ?><?php if(USER::CAN('articles')): ?><li><a href="<?php echo HPATH; ?>/manage?p=articles">Artículos</a></li><?php endif; ?><?php if(USER::CAN('promos')): ?><li><a href="<?php echo HPATH; ?>/manage?p=promos">Promos</a></li><?php endif; ?><?php if(USER::CAN('styles')): ?><li><a href="<?php echo HPATH; ?>/manage?p=styles">Styles</a></li><?php endif; ?>';
			}else if(id == 4){
				element("#TitleMenu").innerHTML = '&nbsp;Usuarios<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<li><a href="<?php echo HPATH; ?>/manage?p=users">Lista</a></li><li><a href="<?php echo HPATH; ?>/manage?p=users&filter=3c212d2d20747970653a62616e73202d2d3e">Baneos</a></li><?php if(USER::CAN('vouchers')): ?><li><a href="<?php echo HPATH; ?>/manage?p=vouchers">Vouchers</a></li><?php endif; if(USER::CAN('articles')): ?><li><a href="<?php echo HPATH; ?>/manage?p=minimail">Minimail</a></li><?php endif; ?><?php if(USER::CAN('ranktest')): ?><li><a href="<?php echo HPATH; ?>/manage?p=ranktest">Peticiones de Rango</a></li><?php endif; ?>';
			}else if(id == 5){
				element("#TitleMenu").innerHTML = '&nbsp;Plugins<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<li><a href="<?php echo HPATH; ?>/manage?p=plugins">Lista</a></li><li class="separator"></li><li><a href="<?php echo HPATH; ?>/manage?p=plugins&do=edit&key=1">Alerta</a></li><li><a href="<?php echo HPATH; ?>/manage?p=plugins&do=edit&key=2">Top 6</a></li><li><a href="<?php echo HPATH; ?>/manage?p=plugins&do=edit&key=3">Información</a></li><li><a href="<?php echo HPATH; ?>/manage?p=plugins&do=edit&key=4">Users al azar - ¡Haz clic!</a></li>';
			}else if(id == 6){
				element("#TitleMenu").innerHTML = '&nbsp;Manteminiento<a class="ButtonBack" href="#" onclick="MenuInit()">';
				element("#menu").innerHTML = '<li><a href="<?php echo HPATH; ?>/manage?p=logs">Logs</a></li><li><a href="<?php echo HPATH; ?>/manage?p=debug">Client DEBUG</a></li><li><a href="<?php echo HPATH; ?>/manage?p=emulator">Emulador</a></li>';
			}
		}

		function MenuInit(){
			element("#TitleMenu").innerHTML = '';
			element("#menu").innerHTML = '<li><a onclick="ChangeMenu(1)" href="#">Inicio</a></li><?php if(USER::CAN('server')): ?><li><a onclick="ChangeMenu(2)" href="#">Servidor</a></li><?php endif; ?><li><a onclick="ChangeMenu(3)" href="#">Sitio</a></li><li><a onclick="ChangeMenu(4)" href="#">Usuarios</a></li><?php if(USER::CAN('plugins')): ?><li><a onclick="ChangeMenu(5)" href="#">Plugins</a></li><?php endif; ?><li><a onclick="ChangeMenu(6)" href="#">Manteminiento</a></li>';
		}

		ChangeMenu(menuId);
<?php if(isset($msg_error)): ?>
		NewDialog('Ha ocurrido un error', '<?php echo str_replace('\'', '&#39;', $msg_error); ?>', '', '<button onclick=\'CloseDialog()\'>Cerrar</button>');
<?php endif; ?>
	</script>
</body></html>