
<div id="container">
<?php CACHE::AppendPluginsPosition(1); ?>
	<div id="content" style="position: relative" class="clearfix">
    <div id="wide-personal-info">



    <div id="habbo-plate">

            <a href="<?php echo PATH; ?>/identity/avatars">

            <img alt="<?php echo USER::$Data['Name']; ?>" src="<?php echo LOOK . USER::$Data['Look']; ?>&size=b&direction=3&head_direction=3&gesture=sml" width="64" height="110"/>

        </a>

    </div>



    <div id="name-box" class="info-box">

        <div class="label">Nombre:</div>

        <div class="content"><?php echo USER::$Data['Name']; ?></div>

    </div>

    <div id="motto-box" class="info-box">

        <div class="label">Misi&oacute;n:</div>

        <div class="content"><?php echo USER::$Row['motto']; ?></div>

    </div>

    <div id="last-logged-in-box" class="info-box">

        <div class="label">&Uacute;ltima conexi&oacute;n:</div>

        <div class="content"><?php echo date('d-M-o G:i:s', $_SESSION['webonline']); ?></div>

    </div>


<?php if($SiteSettings['ClientEnabled'] == 1 || ($SiteSettings['ClientEnabled'] == '2' && USER::CAN('ACP'))): ?>
<div class="enter-hotel-btn">
    <div class="open enter-btn">
            <a href="<?php echo PATH; ?>/client" target="<?php echo USER::$Row['client_token']; ?>" onclick="HabboClient.openOrFocus(this); return false;">Entra a <?php echo $siteName; echo $SiteSettings['ClientEnabled'] == '2' ? ' (Solo staffs)' : ''; ?><i></i></a>
        <b></b>
    </div>
</div>
<?php else: ?>
<div class="enter-hotel-btn">
	<div class="closed enter-btn">
		<span><?php echo $SiteSettings['txt.button.closed']; ?></span>
		<b></b>
	</div>
</div>
<?php endif; ?>

</div>
<?php CACHE::AppendPluginsPosition(2);
$Row = CACHE::LoadPromos();
$Count = 0;
if(count($Row) > 0):
?>
 <div id="promo-box">
    <div id="promo-bullets"></div>
<?php
	foreach($Row as $DataRow):
		if($Count === 0):
			$Count++;
			echo ' <div class="promo-container" style="background-image: url(' . $DataRow['BackGroundImage'] . ')">';
		else:
			echo ' <div class="promo-container" style="display: none; background-image: url(' . $DataRow['BackGroundImage'] . ')">';
		endif;
?>
            <div class="promo-content-container">
                <div class="promo-content">
                    <div class="title"><?php echo $DataRow['Title']; ?></div>
                    <div class="body"><?php echo $DataRow['Content']; ?></div>
                </div>
            </div>
<?php
if(!empty($DataRow['Button']) && substr_count($DataRow['Button'], '|') !== 3):
	$b = explode('|', $DataRow['Button']);
?>
            <div class="promo-link-container">
				<div class="enter-hotel-btn">
					<div class="open enter-btn">
<?php if($b[1] === 'client'): ?>
					    <a href="<?php echo PATH; ?>/client" target="<?php echo USER::$Row['client_token']; ?>" onclick="HabboClient.openOrFocus(this); return false;"><?php echo $b[0];; ?><i></i></a>
<?php else: ?>
						<a style="padding: 0 8px 0 <?php echo ($b[2] === 'true') ? 'auto' : '19px'; ?>;" href="<?php echo $b[1]; ?>"><?php echo $b[0]; echo ($b[2] === 'true') ? '<i></i>' : ''?></a>
<?php endif; ?><b></b>
						</div>
				</div>
            </div>
<?php endif; ?>
        </div>

<?php endforeach; ?>


</div>

<script type="text/javascript">
    document.observe("dom:loaded", function() { PromoSlideShow.init(); });
</script>
<?php endif; ?>



<div id="column1" class="column">
<?php CACHE::AppendPluginsPosition(3); ?>

</div>
<div id="column2" class="column">

<?php CACHE::AppendPluginsPosition(4); ?>

				<div class="habblet-container ">		
	
						<div class="ad-container">
<!--JavaScript Tag // Tag for network 957: Sulake // Website: HabboHotel_ES // Page: Me_Page // Placement: Me_Page mpu 300 x 250 (2132228) // created at: Aug 20, 2009 5:05:31 PM-->
<script language="javascript">
<!--
if (window.adgroupid == undefined) {
	window.adgroupid = Math.round(Math.random() * 1000);
}
if (window.adkeywords == undefined) {
    if (typeof(ad_keywords) == 'undefined') {
        window.adkeywords = '';
    } else {
        window.adkeywords = ad_keywords.split(',').join('+');
    }
}
if (typeof(ad_key_value) == 'undefined') {
    ad_key_value = "";
}
document.write('<scr'+'ipt language="javascript1.1" src="http://adtech.habbo.com/addyn|3.0|957.1|2132228|0|170|ADTECH;cookie=info;loc=100;target=_blank;key='+window.adkeywords+';'+ad_key_value+';grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
//-->
//-->
</script><noscript><a href="http://adtech.habbo.com/adlink|3.0|957.1|12132228|0|170|ADTECH;loc=300;alias=;key=;cookie=info;" target="_blank" target="_blank"><img src="http://adtech.habbo.com/adserv|3.0|957.1|2132228|0|170|ADTECH;loc=300;alias=;key=;cookie=info;" border="0"></a></noscript>
<!-- End of JavaScript Tag -->

</div>

						
					
				</div>

				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
</div>