<?php if($error !== true)
{
	$MySQLi->query("UPDATE groups_details SET views = views + 1 WHERE id = '".$groupid."' LIMIT 1");
?>
<div id="container">
	<div id="content" style="position: relative" class="clearfix">
    <div id="mypage-wrapper" class="cbb blue">
<div class="box-tabs-container box-tabs-left clearfix">
	<?php if($member_rank > 1 && $edit_mode == false){ ?><a href="#" id="myhabbo-group-tools-button" class="new-button dark-button edit-icon" style="float:left"><b><span></span>Editar</b><i></i></a><?php } ?>
	<?php if($edit_mode == false){ echo $viewtools; } ?>
	
    <h2 class="page-owner">
<?php echo $groupdata['name']; ?>&nbsp;
<?php if($groupdata['type'] == "2"){ ?><img src='<?php echo webgallery; ?>/images/groups/status_closed_big.gif' alt='Grupo Cerrado' title='Grupo Cerrado'><?php } ?>
<?php if($groupdata['type'] == "1"){ ?><img src='<?php echo webgallery; ?>/images/groups/status_exclusive_big.gif' alt='Grupo Moderado' title='Grupo Moderado'><?php } ?></h2>
	</h2>
    <ul class="box-tabs">
        <li class="selected"><a href="<?php echo PATH; ?>/groups/<?php echo $groupid; ?>/id">Página Principal</a><span class="tab-spacer"></span></li>
        <li><a href="<?php echo PATH; ?>/groups/<?php echo $groupid; ?>/id/discussions">Foro de Discusión <?php if($groupdata['pane'] > 0) { ?><img src="<?php echo webgallery; ?>/images/groups/status_exclusive.gif"><?php } ?></a><span class="tab-spacer"></span></li> 
    </ul>
</div>
	<div id="mypage-content">
<?php if($edit_mode == true){ ?>
<div id="top-toolbar" class="clearfix">
	<ul>
		<li><a href="#" id="inventory-button">Inventario</a></li>
		<li><a href="#" id="webstore-button">Tienda</a></li>
	</ul>
	
	<form action="#" method="get" style="width: 50%">
		<a id="cancel-button" class="new-button red-button cancel-icon" href="#"><b><span></span>Cancelar edición</b><i></i></a>

		<a id="save-button" class="new-button green-button save-icon" href="#"><b><span></span>Guardar cambios</b><i></i></a>
	</form>
</div>
<?php } ?>
		<div id="mypage-bg" class="<?php echo $bg; ?>">
			<div id="playground-outer">
				<div id="playground">

<?php

$getStickies = $MySQLi->query("SELECT * FROM xdrcms_site_items WHERE groupId = '" . $groupid . "' AND type = 'stickie'");

while($row = $getStickies->fetch_assoc())
{
?>
<div class="movable stickie <?php echo $row['skin']; ?>-c" style=" left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>;" id="stickie-<?php echo $row['id']; ?>">

	<div class="<?php echo $row['skin']; ?>" >
		<div class="stickie-header">
			<h3>
<?php if($edit_mode) { ?>
<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="stickie-<?php echo $row['id']; ?>-edit" />
<script type="text/javascript">
var editButtonCallback = function(e) { openEditMenu(e, <?php echo $row['id']; ?>, "stickie", "stickie-<?php echo $row['id']; ?>-edit"); };
Event.observe("stickie-<?php echo $row['id']; ?>-edit", "click", editButtonCallback);
Event.observe("stickie-<?php echo $row['id']; ?>-edit", "editButton:click", editButtonCallback); 
</script>
<?php } else { ?>
			<img id="stickie-<?php echo $row['id']; ?>-report" class="report-button report-s" alt="report" src="<?php echo webgallery; ?>/images/myhabbo/buttons/report_button.gif" style="display: none" />
<?php } ?>
			</h3>
			<div class="clear"></div>
		</div>
		<div class="stickie-body">
			<div class="stickie-content">

				<div class="stickie-markup">
				<?php echo $System->DecodeBBText($row['content']); ?>
				</div>
				<div class="stickie-footer">
				</div>
			</div>
		</div>

	</div>
</div>
<?php } ?>


<?php
// Stickers
$getStickers = $MySQLi->query("SELECT * FROM xdrcms_site_items WHERE groupId = '" . $groupid . "' AND type = 'sticker'");
while($row = $getStickers->fetch_assoc()) {
?>
<div class="movable sticker <?php echo $row['skin']; ?>" style="left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>" id="sticker-<?php echo $row['id']; ?>">
<?php if($edit_mode) { ?>
<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="sticker-<?php echo $row['id']; ?>-edit" />
<script type="text/javascript">
var editButtonCallback = function(e) { openEditMenu(e, <?php echo $row['id']; ?>, "sticker", "sticker-<?php echo $row['id']; ?>-edit"); };
Event.observe("sticker-<?php echo $row['id']; ?>-edit", "click", editButtonCallback);
Event.observe("sticker-<?php echo $row['id']; ?>-edit", "editButton:click", editButtonCallback); 
</script>
<?php } ?>
</div>
<?php } ?>

<?php
// Widgets
$getWidgets = $MySQLi->query("SELECT * FROM xdrcms_site_items WHERE groupId = '" . $groupid . "' AND type = 'widget'");
while($row = $getWidgets->fetch_assoc()) {

$WidgetId = $row['id'];
$Members = $MySQLi->query("SELECT null FROM groups_memberships WHERE groupid = '" . $groupid . "' AND is_pending = '0'")->num_rows;

if($row['var'] == "MemberWidget") {
?>

<div class="movable widget <?php echo $row['var']; ?>" id="widget-<?php echo $WidgetId; ?>" style=" left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>;">
<div class="<?php echo $row['skin']; ?>">
	<div class="widget-corner" id="widget-<?php echo $WidgetId; ?>-handle">

		<div class="widget-headline"><h3>
		<?php if($edit_mode) { ?>
		<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $row['id']; ?>-edit" />
		<script language="JavaScript" type="text/javascript">
		Event.observe("widget-<?php echo $row['id']; ?>-edit", "click", function(e) { openEditMenu(e, <?php echo $row['id']; ?>, "widget", "widget-<?php echo $row['id']; ?>-edit"); }, false);
		</script>
		<?php } else { ?><span class="header-left">&nbsp;</span><span class="header-middle">Miembros del Grupo (<span id="avatar-list-size"><?php echo $Members; ?></span>)</span><span class="header-right">&nbsp;</span><?php } ?></h3>
		</div>	
	</div>
	<div class="widget-body">
		<div class="widget-content">

<div id="avatar-list-search">
<input type="text" style="float:left;" id="avatarlist-search-string"/>
<a class="new-button" style="float:left;" id="avatarlist-search-button"><b>Buscar</b><i></i></a>

</div>
<br clear="all"/>

<div id="avatarlist-content">

<div class="avatar-widget-list-container">
<ul id="avatar-list-list" class="avatar-widget-list">
<?php
$getMemberssCount = $MySQLi->query("SELECT null FROM groups_memberships WHERE groupID = '" . $groupid . "' AND is_pending = '0'");
$getMemberss = $MySQLi->query("SELECT userID FROM groups_memberships WHERE groupID = '" . $groupid . "' AND is_pending = '0' LIMIT 20");

while($rowMember = $getMemberss->fetch_assoc())
{
	$rowUser = $Users->getData($rowMember['userID'])->fetch_assoc();
?>
	<li id="avatar-list-<?php echo $WidgetId; ?>-<?php echo $rowUser['id']; ?>" title="<?php echo $rowUser['username']; ?>"><div class="avatar-list-open"><a href="#" id="avatar-list-open-link-<?php echo $WidgetId; ?>-<?php echo $rowUser['id']; ?>" class="avatar-list-open-link"></a></div>
<div class="avatar-list-avatar"><img src="<?php echo LOOK .  $rowUser['look']; ?>&direction=4&head_direction=4&gesture=sml&action=&size=s" alt="" /></div>
<h4><a href="<?php echo PATH; ?>/home/<?php echo $rowUser['username']; ?>"><?php echo $rowUser['username']; ?></a></h4>
<p class="avatar-list-birthday"><?php echo $rowUser['account_created']; ?></p>
<p>
<img 
	src="<?php echo webgallery; ?>/images/groups/owner_icon.gif" alt="" class="avatar-list-groupstatus" />
</p></li>
<?php } ?>
</ul>
<div id="avatar-list-info" class="avatar-list-info">
<div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
<div class="avatar-list-info-container"></div>
</div>

</div>

<div id="avatar-list-paging">
    1 - <?php echo $getMemberss->num_rows; ?> / <?php echo $getMemberssCount->num_rows; ?>
    <br/>
    Primero |
    &lt;&lt; |
<?php if($getMemberssCount->num_rows > 20): ?>
    <a href="#" class="avatar-list-paging-link" id="avatarlist-search-next">&gt;&gt;</a> |
    <a href="#" class="avatar-list-paging-link" id="avatarlist-search-last">Último</a>
<?php else: ?>
    &gt;&gt; |
    Último
<?php endif; ?>

<input type="hidden" id="pageNumber" value="1"/>
<input type="hidden" id="totalPages" value="<?php echo round($getMemberssCount->num_rows / 20); ?>"/>
</div>

<script type="text/javascript">
document.observe("dom:loaded", function() {
	window.widget<?php echo $WidgetId; ?> = new MemberWidget('<?php echo $groupid; ?>', '<?php echo $WidgetId; ?>');
});
</script>

</div>
		<div class="clear"></div>
		</div>
	</div>
</div>
</div>



<?php } else if($row['var'] == "GuestbookWidget")
{
	$sql = $MySQLi->query("SELECT * FROM xdrcms_guestbook WHERE widget_id = '$WidgetId' ORDER BY id DESC");
	$count = $sql->num_rows;
	
	if($row['content'] == "private")
		$status = "private";
	else
		$status = "public";
?>

<div class="movable widget GuestbookWidget" id="widget-<?php echo $WidgetId; ?>" style=" left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>;">
<div class="<?php echo $row['skin']; ?>">
	<div class="widget-corner" id="widget-<?php echo $WidgetId; ?>-handle">
		<div class="widget-headline"><h3>
		<?php if($edit_mode) { ?>
<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $row['id']; ?>-edit" />
<script type="text/javascript">
var editButtonCallback = function(e) { openEditMenu(e, <?php echo $row['id']; ?>, "widget", "widget-<?php echo $row['id']; ?>-edit"); };
Event.observe("widget-<?php echo $row['id']; ?>-edit", "click", editButtonCallback);
Event.observe("widget-<?php echo $row['id']; ?>-edit", "editButton:click", editButtonCallback); 
</script>
		<?php } ?>
<span class="header-left">&nbsp;</span><span class="header-middle">Mi Libro de invitados (<span id="guestbook-size"><?php echo $count; ?></span>) <span id="guestbook-type" class="<?php echo $status; ?>"><?php if($status == "private"){ ?><img src="<?php echo webgallery; ?>/images/groups/status_exclusive.gif" title="Sólo para miembros" alt="Sólo para miembros"/><?php } ?></span></span><span class="header-right">&nbsp;</span></h3>

		</div>	
	</div>
	<div class="widget-body">
		<div class="widget-content">
<div id="guestbook-wrapper" class="gb-public">
<ul class="guestbook-entries" id="guestbook-entry-container">
	<?php if($count == 0){ ?>
	<div id="guestbook-empty-notes">Este Libro está vacío.</div>
	<?php
		}
		else
		{
			$i = 0;

			while ($row1 = $sql->fetch_assoc())
			{
				$i++;
				$userrow = $MySQLi->query("SELECT id, look, username, online FROM users WHERE id = '".$row1['userid']."' LIMIT 1")->fetch_assoc();

				if($my_id == $row1['userid'])
					$owneronly = "<img src=\"".webgallery."/images/myhabbo/buttons/delete_entry_button.gif\" id=\"gbentry-delete-".$row1['id']."\" class=\"gbentry-delete\" style=\"cursor:pointer\" alt=\"\"/><br/>";
				else if($ownerid == $my_id)
					$owneronly = "<img src=\"".webgallery."/images/myhabbo/buttons/delete_entry_button.gif\" id=\"gbentry-delete-".$row1['id']."\" class=\"gbentry-delete\" style=\"cursor:pointer\" alt=\"\"/><br/>";
				else
					$owneronly = "";

				if($userrow['online'] == 1)
					$useronline = "online";
				else
					$useronline = "offline";
?>
				<li id="guestbook-entry-<?php echo $row1['id']; ?>" class="guestbook-entry">
		<div class="guestbook-author">
			<img src="<?php echo LOOK . $userrow['look']; ?>&direction=2&head_direction=2&gesture=sml&size=s" alt="<?php echo $userrow['username']; ?>" title="<?php echo $userrow['username']; ?>"/>
		</div>
			<div class="guestbook-actions">
					<?php echo $owneronly; ?>
			</div>
		<div class="guestbook-message">
			<div class="<?php echo $useronline; ?>">
				<a href="<?php echo PATH; ?>/home/<?php echo $userrow['username']; ?>"><?php echo $userrow['username']; ?></a>
			</div>
			<p><?php echo $System->DecodeBBText($row1['message']); ?></p>
		</div>
		<div class="guestbook-cleaner">&nbsp;</div>
		<div class="guestbook-entry-footer metadata"><?php echo date("d-M-o G:i:s", $row1['time']); ?></div>
	</li>
	<?php }	} ?>
</ul></div>

	<div class="guestbook-toolbar clearfix">
	<a href="#" class="new-button envelope-icon" id="guestbook-open-dialog">

	<b><span></span>Publicar un nuevo mensaje</b><i></i>
	</a>
	</div>

<script type="text/javascript">	
	document.observe("dom:loaded", function() {
		var gb<?php echo $row['id']; ?> = new GuestbookWidget('<?php echo time(); ?>', '<?php echo $row['id']; ?>', 500);
		var editMenuSection = $('guestbook-privacy-options');
		if (editMenuSection) {
			gb<?php echo $row['id']; ?>.updateOptionsList('public');
		}
	});
</script>
		<div class="clear"></div>
		</div>
	</div>
</div>

</div>

<?php } else if($row['var'] == "GroupInfoWidget") { ?>

<div class="movable widget <?php echo $row['var']; ?>" id="widget-<?php echo $WidgetId; ?>" style=" left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>;">
<div class="<?php echo $row['skin']; ?>">
	<div class="widget-corner" id="widget-<?php echo $WidgetId; ?>-handle">
		<div class="widget-headline"><h3>
		<?php if($edit_mode == true) { ?>
		<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $row['id']; ?>-edit" />
		<script language="JavaScript" type="text/javascript">
		Event.observe("widget-<?php echo $row['id']; ?>-edit", "click", function(e) { openEditMenu(e, <?php echo $row['id']; ?>, "widget", "widget-<?php echo $row['id']; ?>-edit"); }, false);
		</script>
		<?php } else { ?><span class="header-left">&nbsp;</span><span class="header-middle">Info del Grupo</span><span class="header-right">&nbsp;</span><?php } ?></h3>
		</div>	
	</div>
	<div class="widget-body">
		<div class="widget-content">

<div class="group-info-icon"><img src="<?php echo PATH; ?>/habbo-imaging/badge/<?php echo $groupdata['badge']; ?>.gif" /></div>

	    <img id="groupname-<?php echo $groupid; ?>-report" class="report-button report-gn" alt="report" src="<?php echo webgallery; ?>/images/myhabbo/buttons/report_button.gif" style="display: none;" />
<h4><?php echo $System->CorrectStrs($groupdata['name']); ?></h4>

<p>Grupo creado: <b><?php echo strtolower(date("d-M-Y", $groupdata['created'])); ?></b></p>
<p><?php echo $Members; ?> miembros</p>
<?php if($groupdata['roomid'] != 0) { ?>
<p><a href="<?php echo PATH; ?>/client?forwardId=2&amp;roomId=<?php echo $groupdata['roomid']; ?>" onclick="HabboClient.roomForward(this, '<?php echo $groupdata['roomid']; ?>', 'private'); return false;" target="<?php echo $myrow["client_token"]; ?>" class="group-info-room">Territorio xdr-lns</a></p>
<?php } ?>
<div class="group-info-description"><?php echo $System->CorrectStrs($groupdata['description']); ?></div>


<div id="profile-tags-panel">
<div id="profile-tag-list">
<div id="profile-tags-container">
<?php
$getTags = $MySQLi->query("SELECT * FROM user_tags WHERE groupid = '".$groupid."'");
if($getTags->num_rows > 0) {
while($row = $getTags->fetch_assoc()) {
?>
<span class="tag-search-rowholder">
    <a href="<?php echo PATH; ?>/tag/<?php echo $row['tag']; ?>" class="tag"><?php echo $row['tag']; ?></a>
	<div class="tag-id" style="display:none"><?php echo $row['id']; ?></div>
	<img border="0" class="tag-delete-link" onMouseOver="this.src='<?php echo webgallery; ?>/images/buttons/tags/tag_button_delete_hi.gif'" onMouseOut="this.src='<?php echo SITE; ?>/web-gallery/images/buttons/tags/tag_button_delete.gif'" src="<?php echo SITE; ?>/web-gallery/images/buttons/tags/tag_button_delete.gif" />
</span>
<?php } } else { ?>
No hay ningún 'YoSoy'
<?php } ?>
</div>

<script type="text/javascript">
    document.observe("dom:loaded", function() {
        TagHelper.setTexts({
            buttonText: "OK",
            tagLimitText: "¡Has alcanzado el límite de \'YoSoys\'! Elimina uno antes si quieres añadir otro nuevo."
        });
    });
</script>
</div>

<div id="profile-tags-status-field">
 <div style="display: block;">
  <div class="content-red">
   <div class="content-red-body">

    <span id="tag-limit-message"><img src="<?php echo webgallery; ?>/images/register/icon_error.gif"/> ¡Has alcanzado el límite de 'YoSoys'! Elimina uno antes si quieres añadir otro nuevo.</span>
    <span id="tag-invalid-message"><img src="<?php echo webgallery; ?>/images/register/icon_error.gif"/> 'YoSoy' no válido</span>
   </div>
  </div>
 <div class="content-red-bottom">
  <div class="content-red-bottom-body"></div>
 </div>

 </div>
</div>    <div class="profile-add-tag">
        <input type="text" id="profile-add-tag-input" maxlength="30"/><br clear="all"/>
        <a href="#" class="new-button" style="float:left;margin:5px 0 0 0;" id="profile-add-tag"><b>Añadir 'YoSoy'</b><i></i></a>
    </div>
</div>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        new GroupInfoWidget('<?php echo $groupid; ?>'<?php if(isset($my_id)): ?>, '<?php echo $my_id; ?>'<?php endif; ?>);
    });
</script>


<?php if(isset($my_id)): ?>
	<img id="groupdesc-<?php echo $groupid; ?>-report" class="report-button report-gd"
	    alt="report"
	    src="<?php echo webgallery; ?>/images/myhabbo/buttons/report_button.gif"
        style="display: none;" />
<?php endif; ?>
		<div class="clear"></div>
		</div>
	</div>
</div>
</div>
					
				</div>
<?php } } ?>





				</div>
			</div>
			<div id="mypage-ad">
    <div class="habblet ">
<div class="ad-container">
&nbsp;
</div>
    </div>
			</div>

		</div>
	</div>
</div>
<?php if($edit_mode): ?>
<script language="JavaScript" type="text/javascript">
initEditToolbar();
initMovableItems();
document.observe("dom:loaded", initDraggableDialogs);
Utils.setAllEmbededObjectsVisibility('hidden');
Pinger.start();
</script>


<div id="edit-save" style="display:none;"></div>
<?php else: ?>
<script type="text/javascript">
	Event.observe(window, "load", observeAnim);
	document.observe("dom:loaded", function() {
		initDraggableDialogs();
        repositionInvalidItems();
	});
</script>
<?php endif; ?>

    </div>
<div id="footer">
	<p class="footer-links"><a href="<?php echo PATH; ?>/iot/go?lang=es&country=es" target="_new">Contáctanos</a> | <a href="<?php echo PATH; ?>/help/" target="_new">Afiliados</a> | <a href="<?php echo PATH; ?>/help" target="_new">FAQs</a> | <a href="http://xdrcms.sytes.net/" target="_new">Lns 2010</a> | <a href="<?php echo PATH; ?>/papers/termsAndConditions" target="_new">Términos y Condiciones</a> | <a href="<?php echo PATH; ?>/papers/privacy" target="_new">Política de Privacidad</a> | <a href="<?php echo PATH; ?>/help/" target="_new">La Manera Lns</a>  | <a href="<?php echo PATH; ?>/groups/ConsejosdeSeguridad">Seguridad</a></p>
	<p class="copyright">® 2019 Xdr. Powered by <a href="http://xdrcms.es/" target="_blank">XdrCMS</a>.<br />Habbo Hotel es una marca registrada de Sulake Corporation Oy. Todos los derechos reservados</p>
</div>

</div>

<?php if($edit_mode){ ?>
<div id="edit-menu" class="menu">
	<div class="menu-header">
		<div class="menu-exit" id="edit-menu-exit"><img src="<?php echo webgallery; ?>/images/dialogs/menu-exit.gif" alt="" width="11" height="11" /></div>
		<h3>Editar</h3>
	</div>
	<div class="menu-body">
		<div class="menu-content">
			<form action="#" onsubmit="return false;">
				<div id="edit-menu-skins">
	<select id="edit-menu-skins-select">
			<option value="1" id="edit-menu-skins-select-defaultskin">Por defecto</option>
			<option value="6" id="edit-menu-skins-select-goldenskin">Dorado</option>
			<option value="3" id="edit-menu-skins-select-metalskin">Metal</option>
			<option value="5" id="edit-menu-skins-select-notepadskin">Bloc de Notas</option>
			<option value="2" id="edit-menu-skins-select-speechbubbleskin">Bocadillo de Diálogo</option>
			<option value="4" id="edit-menu-skins-select-noteitskin">Nota-etiqueta</option>
			<option value="8" id="edit-menu-skins-select-hc_pillowskin">HC Bling</option>
			<option value="7" id="edit-menu-skins-select-hc_machineskin">HC Scifi</option>
<?php if($my_rank > 5){ ?>
			<option value="9" id="edit-menu-skins-select-nakedskin">Transparente</option>
<?php } ?>
	</select>
				</div>
				<div id="edit-menu-stickie">
					<p>¡Atención! Si pinchas en 'Quitar', tu nota será eliminada para siempre.</p>
				</div>
				<div id="rating-edit-menu">
					<input type="button" id="ratings-reset-link"
						value="Reset rating" />
				</div>
				<div id="highscorelist-edit-menu" style="display:none">
					<select id="highscorelist-game">
						<option value="">Select game</option>
						<option value="1">Battle Ball: Rebound!</option>
						<option value="2">SnowStorm</option>
						<option value="0">Wobble Squabble</option>
					</select>
				</div>
				<div id="edit-menu-remove-group-warning">
					<p>Este elemento se pondra en segundo plano.</p>
				</div>
				<div id="edit-menu-gb-availability">
					<select id="guestbook-privacy-options">
						<option value="private">Sólo amigos</option>
						<option value="public">Publico</option>
					</select>
				</div>
				<div id="edit-menu-trax-select">
					<select id="trax-select-options"></select>
				</div>
				<div id="edit-menu-remove">
					<input type="button" id="edit-menu-remove-button" value="Remove" />
				</div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="menu-bottom"></div>
</div>
<script language="JavaScript" type="text/javascript">
Event.observe(window, "resize", function() { if (editMenuOpen) closeEditMenu(); }, false);
Event.observe(document, "click", function() { if (editMenuOpen) closeEditMenu(); }, false);
Event.observe("edit-menu", "click", Event.stop, false);
Event.observe("edit-menu-exit", "click", function() { closeEditMenu(); }, false);
Event.observe("edit-menu-remove-button", "click", handleEditRemove, false);
Event.observe("edit-menu-skins-select", "click", Event.stop, false);
Event.observe("edit-menu-skins-select", "change", handleEditSkinChange, false);
Event.observe("guestbook-privacy-options", "click", Event.stop, false);
Event.observe("guestbook-privacy-options", "change", handleGuestbookPrivacySettings, false);
Event.observe("trax-select-options", "click", Event.stop, false);
Event.observe("trax-select-options", "change", handleTraxplayerTrackChange, false);
</script>
<?php } else if(LOGGED != "null") { ?>
<div class="cbb topdialog" id="guestbook-form-dialog">
	<h2 class="title dialog-handle">Editar un mensaje en el Libro</h2>
	
	<a class="topdialog-exit" href="#" id="guestbook-form-dialog-exit">X</a>
	<div class="topdialog-body" id="guestbook-form-dialog-body">

<div id="guestbook-form-tab">
<form method="post" id="guestbook-form">
    <p>
        Nota: el mensaje no puede superar los 500 caracteres
        <input type="hidden" name="ownerId" value="<?php echo $my_id; ?>" />
	</p>
	<div>
	    <textarea cols="15" rows="5" name="message" id="guestbook-message"></textarea>
    <script type="text/javascript">
        bbcodeToolbar = new Control.TextArea.ToolBar.BBCode("guestbook-message");
        bbcodeToolbar.toolbar.toolbar.id = "bbcode_toolbar";
        var colors = { "red" : ["#d80000", "Rojo"],
            "orange" : ["#fe6301", "Naranja"],
            "yellow" : ["#ffce00", "Amarillo"],
            "green" : ["#6cc800", "Verde"],
            "cyan" : ["#00c6c4", "Cyan"],
            "blue" : ["#0070d7", "Azul"],
            "gray" : ["#828282", "Gris"],
            "black" : ["#000000", "Negro"]
        };
        bbcodeToolbar.addColorSelect("Color", colors, true);
    </script>

<div id="linktool">
    <div id="linktool-scope">
        <label for="linktool-query-input">Crear link:</label>
        <input type="radio" name="scope" class="linktool-scope" value="1" checked="checked"/>Habbos
        <input type="radio" name="scope" class="linktool-scope" value="2"/>Salas
        <input type="radio" name="scope" class="linktool-scope" value="3"/>Grupos
    </div>
    <input id="linktool-query" type="text" name="query" value=""/>
    <a href="#" class="new-button" id="linktool-find"><b>Buscar</b><i></i></a>
    <div class="clear" style="height: 0;"><!-- --></div>

    <div id="linktool-results" style="display: none">
    </div>
    <script type="text/javascript">
        linkTool = new LinkTool(bbcodeToolbar.textarea);
    </script>
</div>
    </div>

	<div class="guestbook-toolbar clearfix">
		<a href="#" class="new-button" id="guestbook-form-cancel"><b>Cancelar</b><i></i></a>
		<a href="#" class="new-button" id="guestbook-form-preview"><b>Previa</b><i></i></a>	
	</div>

</form>
</div>
<div id="guestbook-preview-tab">&nbsp;</div>
	</div>
</div>	
<div class="cbb topdialog" id="guestbook-delete-dialog">
	<h2 class="title dialog-handle">Eliminar mensaje</h2>
	
	<a class="topdialog-exit" href="#" id="guestbook-delete-dialog-exit">X</a>
	<div class="topdialog-body" id="guestbook-delete-dialog-body">
<form method="post" id="guestbook-delete-form">
	<input type="hidden" name="entryId" id="guestbook-delete-id" value="" />

	<p>¿Seguro que lo quieres eliminar?</p>
	<p>
		<a href="#" id="guestbook-delete-cancel" class="new-button"><b>Cancelar</b><i></i></a>
		<a href="#" id="guestbook-delete" class="new-button"><b>Eliminar</b><i></i></a>
	</p>
</form>
	</div>
</div>	

<div id="group-tools" class="bottom-bubble">
	<div class="bottom-bubble-t"><div></div></div>
	<div class="bottom-bubble-c">
<h3>Editar Grupo</h3>

<ul>
	<li><a href="<?php echo PATH; ?>/groups/<?php echo $groupid; ?>&do=edit/id" id="group-tools-style">Modificar página</a></li>
	<?php if($ownerid == $my_id){ ?><li><a href="#" id="group-tools-settings">Ajustes</a></li><?php } ?>
	<li><a href="#" id="group-tools-badge">Placa</a></li>
	<li><a href="#" id="group-tools-members">Miembros</a></li>
</ul>

	</div>
	<div class="bottom-bubble-b"><div></div></div>
</div>

<div class="cbb topdialog black" id="dialog-group-settings">

	<div class="box-tabs-container">
<ul class="box-tabs">
	<li class="selected" id="group-settings-link-group"><a href="#">Ajustes del Grupo</a><span class="tab-spacer"></span></li>
	<li id="group-settings-link-forum"><a href="#">Ajustes del Foro</a><span class="tab-spacer"></span></li>
	<li id="group-settings-link-room"><a href="#">Ajustes de la Sala</a><span class="tab-spacer"></span></li>
</ul>
</div>

	<a class="topdialog-exit" href="#" id="dialog-group-settings-exit">X</a>
	<div class="topdialog-body" id="dialog-group-settings-body">
<p style="text-align:center"><img src="<?php echo webgallery; ?>/images/progress_bubbles.gif" alt="" width="29" height="6" /></p>
	</div>
</div>

<script language="JavaScript" type="text/javascript">
Event.observe("dialog-group-settings-exit", "click", function(e) {
    Event.stop(e);
    closeGroupSettings();
}, false);
</script><div class="cbb topdialog black" id="group-memberlist">

	<div class="box-tabs-container">
<ul class="box-tabs">
	<li class="selected" id="group-memberlist-link-members"><a href="#">Miembros</a><span class="tab-spacer"></span></li>
	<li id="group-memberlist-link-pending"><a href="#">Miembros pendientes</a><span class="tab-spacer"></span></li>
</ul>
</div>

	<a class="topdialog-exit" href="#" id="group-memberlist-exit">X</a>
	<div class="topdialog-body" id="group-memberlist-body">
<div id="group-memberlist-members-search" class="clearfix" style="display:none">

    <a id="group-memberlist-members-search-button" href="#" class="new-button"><b>Buscar</b><i></i></a>
    <input type="text" id="group-memberlist-members-search-string"/>
</div>
<div id="group-memberlist-members" style="clear: both"></div>
<div id="group-memberlist-members-buttons" class="clearfix">
	<a href="#" class="new-button group-memberlist-button-disabled" id="group-memberlist-button-give-rights"><b>Derechos</b><i></i></a>
	<a href="#" class="new-button group-memberlist-button-disabled" id="group-memberlist-button-revoke-rights"><b>Quitar</b><i></i></a>
	<a href="#" class="new-button group-memberlist-button-disabled" id="group-memberlist-button-remove"><b>Borrar</b><i></i></a>
	<a href="#" class="new-button group-memberlist-button" id="group-memberlist-button-close"><b>Cerrar</b><i></i></a>
</div>
<div id="group-memberlist-pending" style="clear: both"></div>
<div id="group-memberlist-pending-buttons" class="clearfix">
	<a href="#" class="new-button group-memberlist-button-disabled" id="group-memberlist-button-accept"><b>Aceptar</b><i></i></a>
	<a href="#" class="new-button group-memberlist-button-disabled" id="group-memberlist-button-decline"><b>Rechazar</b><i></i></a>
	<a href="#" class="new-button group-memberlist-button" id="group-memberlist-button-close2"><b>Cerrar</b><i></i></a>
</div>
	</div>
</div>	
<?php } ?>

<script type="text/javascript">
if (typeof HabboView != "undefined") {
	HabboView.run();
}
</script>


</body>
</html>

<?php
} else {
$cored = true;
include('./error.php');
}
?>