<div id="roomenterad" class="client-habblet-container contains-roomenterad" style="top: 20px; right: 70px;">
	<div class="habblet-container ">		
		<div id="roomenterad-habblet-container" style="position: relative; visibility: visible; height: 195px; width: 740px; background-image: url(<?php echo webgallery; ?>/images/roomenterad_bg.png); background-repeat: no-repeat no-repeat;">
			<div style="position: absolute; right: 22px; top: 76px; color: #ffffff; font-weight: bold; font-size: 10px; font-family: Verdana, sans-serif;">Anuncio</div>
			<div style="position: absolute; left: 6px; top: 76px; color: rgb(255, 255, 255); font-size: 10px; font-family: Verdana, sans-serif; visibility: visible;" id="roomenterad-closing">Se cierra en: </div>
			<div style="position: absolute; right: 9px; top: 78px;"><img onclick="RoomEnterAd.closeTheBanner();" src="<?php echo webgallery; ?>/images/roomenterad_close.png"></div>
			<div style="position: absolute; left: 6px; top: 91px" id="roomenterad-ad">
				<iframe src="<?php echo PATH; ?>/raw/ad/roomenterad" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="728" height="90" id="iframe-roomenterad" onload="RoomEnterAd.checkAd(this, <?php echo $aSettings['roomenterad_d']; ?>)"></iframe>
			</div>   
		</div>
	</div>
	<!-- dependencies
		<script src="<?php echo webgallery; ?>/static/js/roomenterad.js" type="text/javascript"></script>
	-->
</div>