<div class="habblet-container ">
	<div id="news-habblet-container">
  <div class="title">
    <div class="habblet-close"></div>
    <div><?php echo $hotelName; ?> Noticias - de la fuente</div>
  </div>
  <div class="content-container">
    <div id="news-articles">
      <div id="news-ad">
<!--
        <iframe src="/raw/ad/news-ad" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="300" height="0" id="iframe-news-ad" onLoad="News.checkAd()"></iframe>
        <div id="ad-message-text" class="ad-message" style="display: none">This is an advertisement</div>
-->
      </div>
      <ul id="news-articlelist" class="articlelist" style="display: none">
<?php
$o = 'odd';
$q = $MySQLi->query('SELECT ID, Title, Summary, Body, Created FROM xdrcms_news ORDER BY ID DESC LIMIT 20');
if($q && $q->num_rows > 0):
	while($Row = $q->fetch_assoc()):
		$o = ($o === 'odd') ? 'even' : 'odd';
?>
        <li class="<?php echo $o; ?>">
          <div class="news-title"><?php echo $Row['Title']; ?></div>
          <div class="news-summary"><?php echo $Row['Summary']; ?></div>
          <div class="newsitem-date"><?php echo (is_numeric($Row['Created'])) ? date('M d, Y', $Row['Created']) : '--';?></div>
          <div id="article-body-text-<?php echo $Row['ID']; ?>" class="article-body-text" style="display: none">
			<?php echo html_entity_decode($Row['Body'], ENT_COMPAT | ENT_HTML401 | ENT_QUOTES, ini_get('default_charset')); ?>
	        <p>Read the full article: <a href="<?php echo PATH; ?>/articles/<?php echo $Row['ID']; ?>-<?php echo str_replace(' ', '-', strtolower($Row['Title'])); ?>" class="article-link"><?php echo $Row['Title']; ?>&nbsp;&raquo;</a></p>
          </div>
          <div class="clearfix">
            <a href="#" class="article-toggle" id="article-title-<?php echo $Row['ID']; ?>">Read more</a>
          </div>
        </li>
<?php endwhile; endif; ?>
      </ul>
    </div>
  </div>
  <div class="news-footer"></div>
</div>
<script type="text/javascript">    
    L10N.put("news.promo.readmore", "Leer más").put("news.promo.close", "Cerrar notici");
    News.init(true);
</script>
	
	
</div>

<!-- dependencies
<link rel="stylesheet" href="<?php echo webgallery; ?>/static/styles/news.css" type="text/css" />
<script src="<?php echo webgallery; ?>/static/js/news.js" type="text/javascript"></script>
-->