<div id="container">
	<div id="content" style="position: relative" class="clearfix">
    <div id="column1" class="column">
    <div class="habblet-container">
        <div class="cbb clearfix red ">
            <h2 class="title">Página de Grupo no localizada</h2>

            <div id="notfound-content" class="box-content">
                <p class="error-text">
                    Lo sentimos, pero no podemos localizar la página que has solicitado. Por favor, retorna a la página anterior
                </p>
                <img id="error-image" src="http://images.habbo.com/habboweb/63_1dc60c6d6ea6e089c6893ab4e0541ee0/1488/web-gallery/v2/images/activehomes/habbo_skeleton.gif" />

            </div>
        </div>
    </div>
</div>