<div class="settings-container clearfix">

        <h1>Ajustes de la cuenta</h1>
	        <div id="back-link">
	        	<a href="<?php echo PATH; ?>/identity/avatars">Mis personajes</a> &raquo; <a href="<?php echo PATH; ?>/identity/settings"> Ajustes de la cuenta</a> &raquo; Cambiar contraseña
	        </div>  
        <div style="padding: 0 10px">
        
		<?php if(isset($Error)){ ?>
		 <div class="error-messages-holder">
            <h3>Por favor, resuelve los siguientes problemas y completa otra vez el formulario</h3>
            <ul>
               <li><p class="error-message"><?php echo $Error; ?></p></li>
            </ul>
        </div>
		<?php } ?>

        
         <form id="change-password" method="post" action="<?php echo SPATH; ?>/identity/password_change">
            <input type="hidden" name="fromClient" value="false" />
            <div class="field field-currentpassword">
              <label for="current-password">contraseña actual</label>
              <input type="password" id="current-password" size="35" name="currentPassword" value="" class="password-field" maxlength="32"/>
            </div>
            
            <div class="form-box">
            <div class="field field-password">
              <label for="password">Nueva contraseña</label>
              <input type="password" id="password" size="35" name="newPassword" value="" class="password-field" maxlength="32"/>
            </div>
            
            <div class="field field-password2">

              <label for="password2">Nueva contraseña (otra vez)</label>
              <input type="password" id="password2" size="35" name="retypedNewPassword" value="" class="password-field" maxlength="32"/>
              <p class="help">Elige una contraseña que tenga al menos 6 caracteres y que incluya tanto letras como otros caracteres</p>
            </div>
            </div>

            <div id="register-fieldset-captcha" class="field field-captcha">
            <div id="captcha-container">
            <label>Elige una contraseña que tenga al menos 6 caracteres y que incluya tanto letras como otros caracteres</label>

                <noscript>
                    <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK" height="300" width="290" frameborder="0"></iframe><br/>
                </noscript>
                <input type="text" id="recaptcha_response_field" value="" autocomplete="off" name="recaptcha_response_field" class="text-field"/>
                <div id="recaptcha_image" class="register-label"></div>
            <br clear="all"/><a href="#" id="captcha-reload" onclick="Utils.reloadRecaptcha(); return false;">Intenta con palabras diferentes</a>
            </div>
            </div>

            <div style="overflow: hidden">

                <a href="#" class="new-button password-button" id="next-btn" onclick="$(this).up('form').submit(); return false;"><b>Cambiar</b><i></i></a>
                <input type="submit" id="next" value="Cambiar" />
            </div>
         </form>
        </div>
    </div>
    <div class="settings-container-bottom"></div>
    <script type="text/javascript">
        document.observe("dom:loaded", function() {
            $(document.body).addClassName("js");
        });
    </script>

    <script type="text/javascript">
        document.observe("dom:loaded", function() {
            Utils.showRecaptcha("register-fieldset-captcha", "6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK");
        });
    </script>