<div id="stepnumbers">
    <div class="stepdone">Fecha de nacimiento</div>
    <div class="stepdone">Detalles de la cuenta</div>
    <div class="step3focus">Comprueba la seguridad</div>
    <div class="stephabbo"></div>
</div>

<div id="main-container">
<?php
if(stristr($_SERVER["REQUEST_URI"], '/e/') && isset($_SESSION['quickregister']['register_errors'])):
?>
        <div id="error-messages-container" class="cbb">
            <div class="rounded" style="background-color: #cb2121;">
               <div id="error-title" class="error">
			<?php echo $_SESSION['quickregister']['register_errors']; ?>

                </div>

            </div>
        </div>
<?php else: ?>
       <div id="error-placeholder"></div>
<?php endif; ?>

     <h2>Avanza hacia el Hotel</h2>
<?php if(!$cConfig["client.new.user.reception"]): ?>
        <div id="avatar-choices">

            <h3>Elige look para tu primera visita:</h3>
            <ul id="avatars">
<?php
$Query = $MySQLi->query("SELECT Look, Code FROM xdrcms_looks WHERE Gender = '" . $_SESSION['quickregister']['select_gender'] . "' ORDER BY RAND() LIMIT 6");

while($Row = $Query->fetch_assoc())
{
?>
    <li>
        <span class="bgtop"></span>
        <span class="bgbottom"></span>
        <img alt="<?php echo $Row["Look"]; ?>" src="http://www.habbo.com/habbo-imaging/avatar/<?php echo $Row["Look"]; ?>,s-0.g-1.d-4.h-4.a-0,<?php echo $Row["Code"]; ?>.gif" width="64" height="110"/>
    </li>
<?php
}
?>
            </ul>
            <p style="clear: left;">
                ¿No te gusta ninguno?
                <a href="#" id="more-avatars">Mira más estilos.</a>
                <br/><span class="help">No te preocupes - podrás cambiar el look más tarde.</span>

            </p>
        </div>
<?php endif; ?>
    <div id="captcha-container">
        <h3>Una última cuestión de seguridad antes de acceder:</h3>
        <div id="captcha-image-container">
            <div id="recaptcha_image"></div>
        </div>
        <div id="captcha-reload-container">

            ¿No ves las palabras?
            <a id="recaptcha-reload" href="#">Prueba otro código</a>
        </div>
    </div>

    <div class="delimiter_smooth">
        <div class="flat">&nbsp;</div>
        <div class="arrow">&nbsp;</div>
        <div class="flat">&nbsp;</div>

    </div>

    <div id="inner-container">
        <form id="captcha-form" method="post" action="<?php echo PATH; ?>/quickregister/captcha_submit" onsubmit="Overlay.show(null,'Cargando...');">
            <div id="recaptcha-input-title">Escribe las dos palabras (separadas por un espacio):</div>
            <div id="recaptcha-input">
                <input type="text" tabindex="2" name="captchaResponse" id="recaptcha_response_field">
            </div>
                <input type="hidden" id="avatarFigure" name="bean.figure" value=""/>
        </form>
    </div>

    <div id="select">
        <a href="<?php echo PATH; ?>/quickregister/backToAccountDetails" id="back-link">Atrás</a>
        <div class="button">
            <a id="proceed-button" href="#" class="area">Finalizar</a>
            <span class="close"></span>
        </div>
   </div>

    <script type="text/javascript">

        document.observe("dom:loaded", function() {
            Utils.showRecaptcha("registration-recaptcha", "6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK");
            if ($("recaptcha-reload")) {
                Event.observe($("recaptcha-reload"), "click", function(e) {
                    Event.stop(e);
                    Utils.reloadRecaptcha();
                });
            }

            if ($("more-avatars")) {
                Event.observe($("more-avatars"), "click", function(e) {
                    Event.stop(e);
                    new Ajax.Updater("avatars", "/quickregister/refresh_avatars", {
                        onComplete: function (t) {
                            QuickRegister.initAvatarChooser();
                        }
                    });
                });
            }

            if($("proceed-button")) {
                $("proceed-button").observe("click", function(e) {
                    Event.stop(e);
                    Overlay.show(null,'Loading...');
                    $("captcha-form").submit();
                });

                Event.observe($("back-link"), "click", function() {
                    Overlay.show(null,'Loading...');
                });
            }

            $("recaptcha_response_field").focus();

            QuickRegister.initAvatarChooser();
        });
    </script>

</div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-448325-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
    HabboView.run();
</script>

</body>
</html>