<div class="habbo-curtain"></div>
    <div id="main-container">

        <div id="habbo-container" class="side-container">
            <div class="habbo">
		<img alt="<?php echo $name; ?>" src="http://www.habbo.com/habbo-imaging/avatarimage?figure=<?php echo $UserRow["look"]; ?>&size=b&direction=3&head_direction=3&gesture=sml" width="64" height="110"/>
            </div>
            <div class="content">
                <p><strong>¡Tus Cosas, Salas, Placas, Logros los recuperarás! </strong><br /></p>

                <p>También cabe la posibilidad de que se produsca un error y algunas cosas no se recuperen, pero es muy poco probable.</p>
            </div>
        </div>

        <div id="info-container">
            <h2>Actualizar tu <?php echo $hotelName; ?> Cuenta</h2>
            <h3>Confirmar:</h3>

<?php if(isset($ErrorInfo)): ?>
                <div id="validation-errors" class="rounded-corners">
                    <ul class="action-errors">
<?php echo $ErrorInfo; ?>
                    </ul>
                </div>
<?php endif; ?>

<form action="<?php echo PATH; ?>/quickregister/preregister-finish" method="post" id="register-form">
    <input type="hidden" id="email-field" name="email" value="<?php echo $_POST["email"]; ?>" />
    <input type="hidden" name="__app_key" value="" />
    <input type="hidden" name="urlToken" value="862f89d0798bbd069f3831f059a767941e0973ed"/>
		<?php if(isset($ErrorInfo)): ?>
                <div class="field">
                    <label class="header">Nombre de usuario:</label>
                    <input id="username-field" type="text" class="textbox rounded-corners" name="username" value="" />
                </div>
                <p class="content">¡Elige bién!, despues solamente podrás cambiarlo si eres VIP.</p>
		<?php else: ?>
                <div class="field">
                    <label class="header">Nombre de usuario:</label>
                    <?php echo $UserRow["username"]; ?>
                </div>
                <p class="content">Para cambiarlo tienes que ser VIP.</p>
		<?php endif; ?>

                <div class="field">
                    <label class="header">Lista de cambios que debes saber: </label>
                </div>
                <p class="content">- Si permanaces 15 minutos inactivo, automaticamente serás desconectado. </p>
                <p class="content">- Puedes tener varias cuentas a la vez en un mismo Email. </p>
                <p class="content">- Los Grupos y las Homes funcionan correctamente. </p>
                <p class="content">- Mayor velocidad. </p>
                <p class="content">- Mayor seguridad. </p>

                <div class="field">
			<div id="captcha-container">
				<label>Teclea el código de la imagen</label>
				<noscript>
					<iframe src="https://www.google.com/recaptcha/api/noscript?k=6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK" height="300" width="290" frameborder="0"></iframe><br/>
				</noscript>

				<input type="text" id="recaptcha_response_field" value="" autocomplete="off" name="captchaResponse" class="text-field"/>

				<div id="recaptcha_image" class="register-label"></div>

				<br clear="all"/><a href="#" id="captcha-reload" onclick="Utils.reloadRecaptcha(); return false;">Intenta con palabras diferentes</a>
			</div>
                </div>

                <div id="buttons">
                    <a id="register-button" href="#" onclick="$('register-form').submit(); return false" class="green-button"><span>Continuar</span></a>
                    <a href="/">Cancelar</a>
                </div>
</form>

       </div>
    </div>

<script type="text/javascript">
	document.observe("dom:loaded", function() {
		Utils.showRecaptcha("register-fieldset-captcha", "6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK");
		if ($("captcha-reload")) {
			Event.observe($("captcha-reload"), "click", function(e) {Event.stop(e); Utils.reloadRecaptcha()});
		}           
	});
</script>

<script type="text/javascript">
    var timeout = null;

    function waitAndFetchImage(email) {
        if(timeout != null) {
            clearTimeout(timeout);
        }
        timeout = setTimeout(function() { fetchImage(email); }, 1000);
    }

    function fetchImage(email) {
        new Ajax.Updater("habbo-container", "/quickregister/fetch_avatar_image",
                {
                    method:"post",
                    parameters:{email: email}
                });
    }

    Element.observe(window, "load", function() {
        waitAndFetchImage($("email-field").getValue());

        Element.observe("email-field", "keyup", function() {
            waitAndFetchImage(this.value);
        });

    });
</script>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-448325-51']);
  _gaq.push (['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
    HabboView.run();
</script>

</body>
</html>