<div class="habbo-curtain"></div>
    <div id="main-container">

        <div id="habbo-container" class="side-container">
            <div class="habbo">
            </div>
            <div class="content">
                <p><strong></strong><br /></p>

                <p></p>
            </div>
        </div>

        <div id="info-container">
            <h2>Actualizar tu <?php echo $hotelName; ?> Cuenta</h2>
            <h3>Unas cosas antes de empezar:</h3>

<?php if(isset($ErrorInfo)): ?>
                <div id="validation-errors" class="rounded-corners">
                    <ul class="action-errors">
<?php echo $ErrorInfo; ?>
                    </ul>
                </div>
<?php endif; ?>

<form action="<?php echo PATH; ?>/quickregister/preregister-register" method="post" id="register-form">
    <input type="hidden" name="__app_key" value="" />
    <input type="hidden" name="urlToken" value="862f89d0798bbd069f3831f059a767941e0973ed"/>
                <div class="field">
                    <label class="header">Tu Email:</label>
                    <input id="email-field" type="text" class="textbox rounded-corners" name="email" value="" />
                </div>
                <p class="content">Elegirás otro nombre</p>

                <div class="field">
                    <label class="header">Contraseña::</label>
                    <input type="password" class="textbox rounded-corners" name="password"/>
                </div>
                <p class="content">La contraseña debe tener al menos 6 caracteres y contener letras y números.</p>

                <div class="field">
                    <label class="checkbox-container">
                        <input id="termsOfService" type="checkbox" name="termsOfService" value="true"  />
                        Acepto los términos y condiciones del sitio.
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox-container">
                        <input id="marketing" type="checkbox" name="marketing" value="true"  />
                    Recibir Noticias por email.

                    </label>
                </div>
                <div id="buttons">
                    <a id="register-button" href="#" onclick="$('register-form').submit(); return false" class="green-button"><span>Continuar</span></a>
                    <a href="/">Cancelar</a>
                </div>
</form>