<div id="process-content">
	        	<div id="terms" class="box-content">
<div class="tos-header"><b>POLÍTICA DE PRIVACIDAD</b></div>
<div class="tos-item">
	<br>
	En Xdr 2018 queremos que todo el mundo pase un buen rato en <?php echo $siteName; ?> y nos comprometemos a mantener el Sitio Web tan seguro y privado como podamos. El Hotel es un lugar en el que puedes dar una vuelta y conocer nueva gente. Tenemos muy pocas normas que tienes que aceptar previamente para poder converirte en un miembro del Hotel.
	<br>
	<br>
	<br>
	Esta Política de Privacidad, junto con los Términos y Condiciones y la Manera Habbo (todos ello, conjutamente en el "Contrato"), es aplicable a la recogida y tratamiento de los datos de carácter personal de los usuarios del Sitio Web bajo los dominios <?php echo webgallery; ?>, y bajo cualquiera de los subdominios o páginas web dependientes de los mismos y de los Servicios titularidad de Xdr 2018 que están disponibles en el Sitio Web.
	<br>
	<br>
	<br>
	El hecho de acceder al Sitio Web y/o utilizar los Servicios, y/o registrarte en el Sitio Web, significa que has leído, entiendes y aceptas, sin reservas de ninguna clase, esta Política de Privacidad, y CONSIENTES EN QUE RECOJAMOS Y TRATEMOS TUS DATOS PERSONALES Y TU INFORMACIÓN DE ACUERDO CON ESTA POLÍTICA DE PRIVACIDAD Y CON LAS LEYES ESPAÑOLAS, así como aceptas expresamente las medidas de seguridad que hemos implementado para hacer de <?php echo $siteName; ?> un lugar seguro. Si no aceptas esta Política de Privacidad, no debes utilizar este Sitio Web ni los Servicios ofrecidos.
</div>
</div>
</div>
</div>