<div class="movable widget FriendsWidget" id="widget-<?php echo $Id; ?>" style=" left: 15px; top: 25px; z-index: <?php echo $zindex; ?>;">
	<div class="w_skin_goldenskin">
		<div class="widget-corner" id="widget-<?php echo $Id; ?>-handle">
			<div class="widget-headline">
				<h3>
					<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $Id; ?>-edit" />
					<script language="JavaScript" type="text/javascript">
						var editButtonCallback = function(e) { openEditMenu(e, <?php echo $Id; ?>, "widget", "widget-<?php echo $Id; ?>-edit"); };
						Event.observe("widget-<?php echo $Id; ?>-edit", "click", editButtonCallback);
						Event.observe("widget-<?php echo $Id; ?>-edit", "editButton:click", editButtonCallback); 
					</script>
					<span class="header-left">&nbsp;</span><span class="header-middle">Mis Amigos (<span id="avatar-list-size">0</span>)</span><span class="header-right">&nbsp;</span>
				</h3>
			</div>	
		</div>
		<div class="widget-body">
			<div class="widget-content">
				<div id="avatar-list-search">
					<input type="text" style="float:left;" id="avatarlist-search-string"/>
					<a class="new-button" style="float:left;" id="avatarlist-search-button"><b>Buscar</b><i></i></a>
				</div>
				<br clear="all"/>

				<div id="avatarlist-content">
					<div class="avatar-widget-list-container">
						Guarda para ver tus amigos

						<div id="avatar-list-info" class="avatar-list-info">
							<div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
							<div class="avatar-list-info-container"></div>
						</div>
					</div>
					<div id="avatar-list-paging">
						0 - 0
						<input type="hidden" id="pageNumber" value="0"/>
						<input type="hidden" id="totalPages" value="0"/>
					</div>
					<script type="text/javascript">
					</script>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>