<div class="movable widget RoomsWidget" id="widget-<?php echo $Id; ?>" style=" left: 15px; top: 25px; z-index: <?php echo $zindex; ?>;">
	<div class="w_skin_goldenskin">
		<div class="widget-corner" id="widget-<?php echo $Id; ?>-handle">
			<div class="widget-headline">
				<h3>
					<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $Id; ?>-edit" />
					<script language="JavaScript" type="text/javascript">
						Event.observe("widget-<?php echo $Id; ?>-edit", "click", function(e) { openEditMenu(e, <?php echo $Id; ?>, "widget", "widget-<?php echo $Id; ?>-edit"); }, false);
					</script>
					<span class="header-left">&nbsp;</span><span class="header-middle">MIS SALAS</span><span class="header-right">&nbsp;</span>
				</h3>
			</div>	
		</div>
		<div class="widget-body">
			<div class="widget-content">
				Guarda para ver tus salas
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>